In [2]:
import pandas as pd

# Playing with JSON data

In [59]:
# Please unComment this
#pd.read_json("recipe/train.json")

In [60]:
# Please unComment this
#pd.read_json("https://api.exchangerate-api.com/v4/latest/INR")

# Web Scraping

In [5]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

# The Website is

In [11]:
headers = {'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/123.0.0.0 Safari/537.36'}
webpage=requests.get('https://www.ambitionbox.com/list-of-companies?page=1',headers=headers).text

In [12]:
soup=BeautifulSoup(webpage,'lxml')

In [61]:
# Please unComment this
#print(soup.prettify())

In [17]:
for i in soup.find_all('h2'):
    print(i.text.strip())

TCS
Accenture
Cognizant
Wipro
Capgemini
HDFC Bank
ICICI Bank
Infosys
HCLTech
Tech Mahindra
Genpact
Axis Bank
Teleperformance
Concentrix Corporation
Jio
Amazon
IBM
Reliance Retail
HDB Financial Services
Larsen & Toubro Limited
Companies by  Industry
Companies by  Locations
Companies by  Type
Companies by  Badges

In [23]:
for i in soup.find_all('h2', class_='companyCardWrapper__companyName'):
    print(i.text.strip())

TCS
Accenture
Cognizant
Wipro
Capgemini
HDFC Bank
ICICI Bank
Infosys
HCLTech
Tech Mahindra
Genpact
Axis Bank
Teleperformance
Concentrix Corporation
Jio
Amazon
IBM
Reliance Retail
HDB Financial Services
Larsen & Toubro Limited

In [24]:
for i in soup.find_all('span', class_='companyCardWrapper__companyRatingValue'):
    print(i.text.strip())

3.8
4.0
3.9
3.8
3.9
4.0
4.0
3.8
3.7
3.7
3.9
3.9
3.6
3.9
4.0
4.1
4.1
4.0
4.0
4.1

In [52]:
for i in soup.find_all('span', class_='companyCardWrapper__ActionCount'):
    print(i.text.strip())

74.2k
851.5k
6.6k
871
11.6k
77
47k
585.7k
4.7k
28.5k
7.2k
39
42.4k
561.2k
3.9k
398
5.9k
63
39.9k
425.2k
3.9k
217
5k
79
34.5k
414.1k
3.1k
721
4.1k
36
34.4k
131.3k
1.6k
203
3.3k
5
34k
141.2k
1.9k
50
3.8k
48
32.3k
483.5k
5.1k
1.1k
5.2k
90
29k
295.9k
2.7k
302
4.1k
35
28k
252.8k
2.6k
950
3.6k
43
26.6k
187.2k
2.1k
596
3.7k
36
22.3k
96.9k
1.1k
155
2.2k
45
22.3k
84k
1.3k
348
2k
31
22.1k
106k
1.1k
86
3.3k
37
20.8k
65.7k
1.2k
122
2.6k
43
20.8k
120.8k
3.6k
195
4.2k
53
19.9k
217.5k
1.6k
2.9k
2.7k
20
19.1k
60.6k
1.2k
140
2k
101
18.4k
49.3k
614
138
1.5k
32
16.8k
80.1k
1.1k
148
2.9k
36

In [26]:
for i in soup.find_all('span', class_='companyCardWrapper__interLinking'):
    print(i.text.strip())

IT Services & Consulting | 1 Lakh+ Employees | Public | 56 years old | Mumbai +345 more
IT Services & Consulting | 1 Lakh+ Employees | Public | 35 years old | Dublin +176 more
IT Services & Consulting | 1 Lakh+ Employees | Forbes Global 2000 | 30 years old | Teaneck. New Jersey. +163 more
IT Services & Consulting | 1 Lakh+ Employees | Public | 79 years old | Bangalore/Bengaluru +277 more
IT Services & Consulting | 1 Lakh+ Employees | Public | 57 years old | Paris +141 more
Banking | 1 Lakh+ Employees | Public | 30 years old | Mumbai +1547 more
Banking | 1 Lakh+ Employees | Public | 30 years old | Mumbai +1286 more
IT Services & Consulting | 1 Lakh+ Employees | Public | 43 years old | Bengaluru/Bangalore +182 more
IT Services & Consulting | 1 Lakh+ Employees | Public | 33 years old | Noida +183 more
IT Services & Consulting | 1 Lakh+ Employees | Public | 38 years old | Pune +268 more
IT Services & Consulting | 1 Lakh+ Employees | Public | 27 years old | New York +112 more
Banking | 50k-1 Lakh Employees | Public | 31 years old | Mumbai +1303 more
BPO | 50k-1 Lakh Employees | Forbes Global 2000 | 46 years old | Paris +184 more
BPO | 50k-1 Lakh Employees | Public | 41 years old | Fremont +116 more
Telecom | 50k-1 Lakh Employees | Public | 17 years old | Navi Mumbai +1172 more
Internet | 1 Lakh+ Employees | Public | 30 years old | Seattle +448 more
IT Services & Consulting | 1 Lakh+ Employees | Public | 113 years old | Armonk +147 more
Retail | 1 Lakh+ Employees | 18 years old | Navi Mumbai +1001 more
NBFC | 1 Lakh+ Employees | 17 years old | Ahmedabad +954 more
Engineering & Construction | 10k-50k Employees | Public | 86 years old | Mumbai +624 more

In [29]:
company=soup.find_all('div',class_='companyCardWrapper__primaryInformation')

In [30]:
len(company)

20

In [55]:
name=[]
rating=[]
reviews=[]
for i in company:
    name.append(i.find('h2').text.strip())
    rating.append(i.find('span', class_='companyCardWrapper__companyRatingValue').text.strip())
    reviews.append(i.find('span', class_='companyCardWrapper__interLinking').text.strip())

In [58]:
d={'name':name,'rating':rating,'reviews':reviews}
pd.DataFrame(d)

,name,rating,reviews
0,TCS,3.8,IT Services & Consulting | 1 Lakh+ Employees |...
1,Accenture,4.0,IT Services & Consulting | 1 Lakh+ Employees |...
2,Cognizant,3.9,IT Services & Consulting | 1 Lakh+ Employees |...
3,Wipro,3.8,IT Services & Consulting | 1 Lakh+ Employees |...
4,Capgemini,3.9,IT Services & Consulting | 1 Lakh+ Employees |...
5,HDFC Bank,4.0,Banking | 1 Lakh+ Employees | Public | 30 year...
6,ICICI Bank,4.0,Banking | 1 Lakh+ Employees | Public | 30 year...
7,Infosys,3.8,IT Services & Consulting | 1 Lakh+ Employees |...
8,HCLTech,3.7,IT Services & Consulting | 1 Lakh+ Employees |...
9,Tech Mahindra,3.7,IT Services & Consulting | 1 Lakh+ Employees |...
10,Genpact,3.9,IT Services & Consulting | 1 Lakh+ Employees |...
11,Axis Bank,3.9,Banking | 50k-1 Lakh Employees | Public | 31 y...
12,Teleperformance,3.6,BPO | 50k-1 Lakh Employees | Forbes Global 200...
13,Concentrix Corporation,3.9,BPO | 50k-1 Lakh Employees | Public | 41 years...
14,Jio,4.0,Telecom | 50k-1 Lakh Employees | Public | 17 y...
15,Amazon,4.1,Internet | 1 Lakh+ Employees | Public | 30 yea...
16,IBM,4.1,IT Services & Consulting | 1 Lakh+ Employees |...
17,Reliance Retail,4.0,Retail | 1 Lakh+ Employees | 18 years old | Na...
18,HDB Financial Services,4.0,NBFC | 1 Lakh+ Employees | 17 years old | Ahme...
19,Larsen & Toubro Limited,4.1,Engineering & Construction | 10k-50k Employees...